.page-home-wrap {
  background-color: #F4F6FA;
  height: 100vh;

  .top-menu-card-root {
    height: 378px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 0;
    padding-bottom: 80px;

    .menu-root {
      display: flex;
      padding-left: 15px;
      padding-right: 15px;
      flex-direction: row;

      .menu-item {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;

        .menu-icon {
          width: 66px;
          height: 66px;
        }

        .menu-txt {
          font-size: 24px;
          margin-top: 16px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: #FFFFFF;
          line-height: 24px;
        }
      }
    }

  }

  .scroll-root {
    height: calc(100vh - 250px);
    position: fixed;
    .bottom-space{
     height: 120px;
    }
    .true-top-menu-item {
      flex: 1;
      height: 100%;
    }

    .scroll-placeholder {
      height: 30px;
      width: 100vw;

      .placeholder {
        height: 30px;
        width: 100vw;
        background-color: #F4F6FA;
        border-top-left-radius: 28px;
        border-top-right-radius: 28px;
      }
    }

    .main-menu-root {
      display: flex;
      width: 100vw;
      //padding-bottom: 20px;
      padding-top: 30px;
      flex-direction: row;

      .main-menu-item {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;

        .main-menu-icon {
          width: 88px;
          height: 72px;
        }

        .main-menu-txt {
          font-size: 24px;
          margin-top: 16px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          line-height: 24px;
        }
      }
    }

    .signing-root {
      display: flex;
      margin-top: 40px;
      flex-direction: row;

      .signing-number-txt {
        font-size: 52px;
        font-family: DIN-Condensed;
        font-weight: bold;
        color: #4B5366;
        margin-left: 32px;
        margin-top: 36px;
        line-height: 52px
      }

      .signing-desc-txt {
        height: 24px;
        font-size: 24px;
        margin-left: 32px;
        margin-top: 8px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #ADB2BC;
        line-height: 24px;
      }

      .signing-customer {
        height: 332px;
        width: 270px;
        margin-left: 20px;
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 100% 100%;
        margin-right: 20px;
        border-radius: 8px;
        background-color: white;
        background-image: url("https://infipark-pub.oss-cn-beijing.aliyuncs.com/1561312770707528/20210622/16243271214320/signing-customer.png");
      }

      .signing-right {
        .signing-right-margin {
          margin-left: 38px;
          margin-top: 31px;
        }

        flex: 1;
        display: flex;
        flex-direction: column;
        height: 332px;
        margin-right: 20px;

        .signing-money {
          flex: 1;
          background-repeat: no-repeat;
          background-position: center top;
          background-size: 100% 100%;
          margin-bottom: 10px;
          background-color: white;
          border-radius: 8px;
          background-image: url("https://infipark-pub.oss-cn-beijing.aliyuncs.com/1561312770707528/20210622/16243271517493/signing-money.png");
        }

        .signing-area {
          flex: 1;
          margin-top: 10px;
          background-repeat: no-repeat;
          background-position: center top;
          background-size: 100% 100%;
          background-color: white;
          border-radius: 8px;
          background-image: url("https://infipark-pub.oss-cn-beijing.aliyuncs.com/1561312770707528/20210622/16243271767517/signing-area.png");
        }
      }
    }
  }
}
