.rent-chart-warp-root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  .rent-chart-content {
    background: #FFFFFF;
    box-shadow: 0 0 13px 0 rgba(62, 66, 78, 0.15);
    border-radius: 48px 48px 44px 44px;
    margin-top: 227px;
    padding:  26px 0;
    height: calc(100% - 207px - 112px - env(safe-area-inset-bottom));
    height: calc(100% - 207px - 112px - constant(safe-area-inset-bottom));
    .building-content{
      padding-bottom: 26px;
      padding-right: 26px;
      padding-left: 26px;
      .building-row-warp {
        margin-top: 56px;
        margin-bottom: 32px;
        margin-left: 6px;
        .building-name {
          flex: 1;
          font-family: PingFangSC-Medium;
          font-size: 36px;
          color: #3E424E;
          word-break:break-all;
          line-height: 36px;
          margin-right: 16px;
        }

        .building-room-num {
          background: rgba(62, 66, 78, 0.07);
          border-radius: 18px;
          height: 36px;
          line-height: 36px;
          padding-left: 16px;
          font-size: 24px;
          color: #9197A5;
          padding-right: 16px;
        }
      }

      .room-item-content {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
      }
      .building-floor-name{
        font-family: PingFangSC-Semibold;
        font-size: 30px;
        color: #1E2027;
        line-height: 36px;
        margin-left: 6px;
        margin-bottom: 18px;
      }
    }

    .loading-content-wrap{
      padding-bottom: 100px;
      padding-top: 32px;
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: center;
      font-size: 26px;
      color: #BEC2D2;
      justify-content: center;
    }
  }
}
