.personally {
  height: 100vh;
  width: 100%;
  background-color: #FFFFFF;

  .top-background {
    box-shadow: 0 2px 15px 0 rgba(62, 66, 78, 0.08);
  }


  .card-root {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    z-index: 3;
    align-items: center;
    font-size: 24px;

    .avatar {
      width: 140px;
      height: 140px;
      border: 3px solid #F7F8F9;
      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.12);
      border-radius: 70px;
      left: calc(50vw - 70px);
    }

    .name {
      font-family: PingFangSC-Medium;
      font-size: 40px;
      color: #3E424E;
      margin-left: 32px;
      margin-right: 32px;
      margin-top: 32px;
      line-height: 40px;
    }

    .company {
      font-family: PingFangSC-Regular;
      font-size: 28px;
      color: #3E424E;
      margin-top: 19px;
      letter-spacing: 0.38px;
      line-height: 32px;
    }

  }


  .AtButton {
    margin: 32px;
    width: 686px;
    color: #FD7E87;
    text-align: center;
  }

  .menu-warp {
    background-color: white;
    border-top-right-radius: 44px;
    border-top-left-radius: 44px;
    top: -44px;
    position: relative;
    z-index: 2;
    padding-top: 274px;
    .item-line{
      height: 1px;
      margin-right: 24px;
      margin-left: 24px;
    }
    .menu-item-root {
      height: 104px;
      display: flex;
      flex-direction: row;
      padding-right: 24px;
      padding-left: 24px;
      align-items: center;
      position: relative;

      .menu-icon {
        width: 40px;
        height: 40px;
      }
      .menu-txt{
        font-family: PingFangSC-Regular;
        font-size: 30px;
        margin-left: 24px;
      }
      .arrow {
        width: 38px;
        position: absolute;
        right: 40px;
        height: 38px;
      }
    }
  }
}
