.customer-home-list-page {
  position: absolute;
  width: 100vw;
  height: calc(100% - 100px - env(safe-area-inset-bottom));

  //.filter-content {
  //  height: 96px;
  //}
  .filter-space{
    height: 60px;
  }
}
